<%- include('_layout/header.ejs') %>
<%- include('_layout/nav.ejs') %>


<div class="row">

  <section class="col-lg-12 connectedSortable">

    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Sửa Sản Phẩm</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form class="form-horizontal" action="/update-category" method="post">
        <input type="hidden" value="<%= dataCategory.id %>" name="id">
        <div class="card-body">

          <div class="form-group">
            <label for="exampleInputEmail1">Tên Danh Mục</label>
            <input type="text" value="<%= dataCategory.name_cate %>" name="name_cate" class="form-control">
          </div>

          <div class="card-footer">
            <button type="submit" name="submit" class="btn btn-primary">Lưu</button>
          </div>
      </form>
    </div>
  </section>

</div>


<%- include('_layout/footer.ejs') %>